
<div class="container">
  <mat-card class="card">
    <h2>Convertir CSV a texto con tabulaciones</h2>
    <mat-divider></mat-divider>
    <br />

    <input
      type="file"
      accept=".csv"
      (change)="onFileSelected($event)"
      #fileUpload
      hidden
    />
    <button mat-raised-button color="primary" (click)="fileUpload.click()">
      <mat-icon>upload_file</mat-icon>
      Seleccionar archivo CSV
    </button>


    <div *ngIf="convertedText" class="result-section">
      <mat-form-field appearance="outline" class="file-name-field">
        <mat-label>Nombre del archivo</mat-label>
        <input
          matInput
          id="fileName"
          type="text"
          [(ngModel)]="fileName"
          placeholder="Ej: resultado"
        />
        <span matSuffix>.txt</span>
      </mat-form-field>

      <button
        mat-raised-button
        color="accent"
        (click)="downloadTxt()"
        class="download-btn"
      >
        <mat-icon>download</mat-icon>
        Descargar TXT
      </button>
    </div>
  </mat-card>

  <footer class="footer">
    <h3>WR60</h3>
  </footer>
</div>
